{% extends "base.html" %}


{% block title %}Account activation complete{% endblock %}
{% block body_class %}{{ block.super }} registration_activation_complete{% endblock %}


{% block content_title %}
  <h3>Account activation complete</h3>
{% endblock %}


{% block content %}
<div class="formBlock">
  <h2><p style="font-size: 16px;">Congratulations, your account with COURIER GUYS has been activated.</p> </h2>>
  <h3><p style="font-size: 16px;">You're ready to <a href="http://127.0.0.1:8000/accounts/login/">LOG IN</a>.</p> </h3>>
</div>

{% endblock %}
