{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% if validlink %}
<div class="formBlock">
    <h1> PASSWORD RESET CONFIRMATION </h1>
<form method="post" action=".">{% csrf_token %}
<h4>
   <label>Password:</label><br /><br />
  {{ form.new_password1 }}<br /><br />

   <label>Password (again):</label><br /><br />
  {{ form.new_password2 }}<br /><br />
</h4>
    <p class="submit"><button type="submit" value="{% trans 'Submit' %}" class="btn btn-lg btn-dark">RESET</button></p>
</form>

{% endif %}

{% else %}
<p>{% trans "Password reset failed" %}</p>


</div>
{% endblock %}
